<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/reset.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/css.css") }}">
     <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
<main>
    <nav>
        <ul>
            <li><a onclick="sessionStorage.clear()" href="{{ url_for("logout") }}">Afmelden</a></li>
            <li><a {% block controlpanel %}{% endblock %} href="{{ url_for("controlpanel") }}">Bediening lichten</a></li>
            <li><a {% block timer %}{% endblock %} href="{{ url_for("timer") }}">Timer</a></li>
            <li><a {% block overzicht %}{% endblock %} href="{{ url_for("overzicht") }}">Overzicht</a></li>
        </ul>
    </nav>
</main>
{% block body %}
{% endblock %}


	<footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for("overzicht") }}">Overzicht</a>
					<a href="{{ url_for("timer") }}">Timer</a>
					<a href="{{ url_for("controlpanel") }}">Bediening lichten</a>
					<a onclick="sessionStorage.clear()" href="{{ url_for("logout") }}">Afmelden</a>
				</p>
                <p class="footer-links"><a href="http://student.howest.be/mathieu.bonte/portfolio" target="_blank">Portfolio</a></p>

                <p>Mathieu Bonte &copy; 2017</p>
			</div>

	</footer>
 <script src="{{ url_for("static",filename="js/scripts.js") }}"></script>


</body>
</html>