<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/reset.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/css.css") }}">

</head>

<body>
<main>
    <nav>
        <ul>
            <li><a href="{{ url_for("logout") }}">Afmelden</a></li>
            <li><a {% block controlpanel %}{% endblock %} href="{{ url_for("controlpanel") }}">Bediening lichten</a></li>
            <li><a {% block timer %}{% endblock %} href="{{ url_for("timer") }}">Timer</a></li>
            <li><a {% block overzicht %}{% endblock %} href="{{ url_for("overzicht") }}">Overzicht</a></li>
        </ul>
    </nav>
</main>
{% block body %}
{% endblock %}

<script src="{{ url_for("static",filename="js/scripts.js") }}"></script>

</body>
</html>