{% extends "base.html" %}

{% block title %}
    Control Panel
{% endblock %}

{% block controlpanel%}
    class="active"
{% endblock %}

{% block body %}

    <div class="button_screen">
        <div>
            <label>Garage</label>
            <button name="LightOffGarage">Licht uit</button>
            <button name="LightOnGarage">Licht aan</button>
        </div>
        <div>
            <label>Inkom</label>
            <button name="LightOffInkom">Licht uit</button>
            <button name="LightOnInkom">Licht aan</button>
        </div>
        <div>
            <label>Badkamer</label>
            <button name="LightOffBadkamer">Licht uit</button>
            <button name="LightOnBadkamer">Licht aan</button>

        </div>
        <div>
            <label>Wasplaats</label>
            <button name="LightOffWasplaats">Licht uit</button>
            <button name="LightOnWasplaats">Licht aan</button>
        </div>
        <div>
            <label>Keuken</label>
            <button name="LightOffKeuken">Licht uit</button>
            <button name="LightOnKeuken">Licht aan</button>
        </div>
        <div>
            <label>Living</label>
            <button name="LightOffLiving">Licht uit</button>
            <button name="LightOnLiving">Licht aan</button>
        </div>
        <div>
            <label>Living-tafel</label>
            <button name="LightOffLivingTafel">Licht uit</button>
            <button name="LightOnLivingTafel">Licht aan</button>
        </div>
        <div>
            <label>Terras</label>
            <button name="LightOffTerras">Licht uit</button>
            <button name="LightOnTerras">Licht aan</button>
        </div>
	</div>

{% endblock %}