<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lightz - Login</title>
  <link rel="stylesheet" href="{{ url_for("static",filename="css/css.css") }}">
</head>
<body>
<div class="bg">
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}</div>
  <div class="login">
    <div class="login-screen">
      <h1 class="text">Welcome. <span>please login.</span></h1>

      <form method="post" class="login-form">
        <div class="control-group">
          <input type="text" placeholder="username" value="{{ request.form.username }}" name="username" onBlur="if(this.value == '') this.value = ''" onFocus="if(this.value == 'username') this.value = ''" required>
        </div>

        <div class="control-group">
          <input type="password" placeholder="password" value="{{ request.form.password }}" name="password" onBlur="if(this.value == '') this.value = ''" onFocus="if(this.value == 'password') this.value = ''" required>
        </div>

        <input type="submit" value="login" name="login">
        <a class="login-link" href="#">Lost your password?</a>

        {% if error %}
            Error: {{ error }}
        {% endif %}

      </form>
    </div>
  </div>


</body>
</html>